.container {
}
.image {
  background: url("/assets/images/1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 260px;
  width: 100%;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 33px;
}
