.row {
  border-radius: initial;
}
.image {
  background: url("/assets/images/1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 360px;
  width: 100%;
  border-radius: 6px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.image h3 {
  position: static !important;
  margin-bottom: 12px;
  text-shadow: 0 0 6px white;
}
